<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  
  <div class="my-4">
    <label for="cantidadGrupos" class="block text-gray-700">Cantidad de grupos:</label>
    <input type="number" id="cantidadGrupos" [(ngModel)]="cantidadGrupos" (input)="actualizarNombresPorLinea()" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
  </div>
  
  <div class="my-4">
    <p>Cantidad de líneas con nombres: {{ datos }} integrantes por grupos {{integrantes}}</p>
  </div>
  
  <div class="my-4">
    <label for="listaNombres" class="block text-gray-700">Lista de nombres:</label>
    <textarea id="listaNombres" [(ngModel)]="listaNombres" (input)="actualizarNombresPorLinea()" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" rows="4"></textarea>
  </div>
  
  <div class="mt-4">
    <button (click)="crearGrupos()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Crear Grupos</button>
  </div>  

  <div #content class="flex justify-center">
    <div class="grid grid-cols-2 gap-4">
      <div *ngFor="let grupo of grupos; let i = index" class="p-4 border rounded-md">
        <h2 class="text-lg font-semibold mb-2">Grupo #{{ i + 1 }}</h2>
        <ul>
          <li *ngFor="let nombre of grupo" class="mb-1">{{ nombre }}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <button (click)="descargarImagen()">Descargar Imagen</button>

</body>
</html>